.btn_container {
    display:flex;
    align-items:center;
    justify-content:center;
    background-size: cover;
    background-position: center;
    background-image: url("../img/home_img.jpg");
    height: 100vh;
    width: 100vw;
}

.btn_style {
    margin: 0 10px 0 0;
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(37deg, #008b8b, #ffff00);
    color: blue;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.btn_style ::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -5px;
    bottom: 5px;
    left: -5px;
    background: #2671a3;
    transform: skew(-15deg);
    z-index: -1;
}

.btn_style:hover {
    transform: scale(1.1);
}
